body {
  background-color: #212121;
    float: left

}

.bio {
  height: 200px;
  width: 400px;
  padding: 5px;
  background-color: #B0E1ED;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin: 10px 50px 10px 50px;
}

h1, h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: #F0684D;
}

#people {
  display: inline-flex;
  margin: 10px;
}
.center {
   width: 600px;
   height: auto;
   position: absolute;
   left: 40%;
   top: 1%;
   margin-left: -150px;
   text-align: center;
}

img {
     width: 150px;
     height: 150px;
     max-width: 150px;
     min-width: 150px;
     max-height: 150px;
     min-height: 150px;
     margin: 10px;
   }
