body {
  display: flex;
  flex-direction: column;
  background-color: #11262E;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#navMenu {
  display: none;
  position: fixed;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 326px;
  max-width: 978px;
  width: 90%;
  background-color: #F16949;
  align-items: center;
  justify-content: center;
}

.flex-box {
  max-width: 316px;
  width: 32.5%;
  height: 316px;
  margin: 5px;
  background-color: #B0E1ED;

#flex-border{
  width: 948px;
  height: 100%;
  border-color: #B0E1ED;
}

.player-container {
  display: flex;
  align-items: center;
  height: 326px;
  max-width: 978px;
  width: 90%;
  align-items: center;
  justify-content: center;
}

#player1Box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 160px;
  min-width: 200px;
  background-color: #B0E1ED;
  margin-right: 10%;
}

#player2Box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 160px;
  min-height: 120px;
  min-width: 200px;
  background-color: #B0E1ED;
  margin-left: 10%;
}

#player2Box, #player1Box {
  align-self: flex-start;
  margin-top: 5%;
}

#player1Name, #player2Name {
  color: black;
  font-size: 35px;
  align-self: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

input[type="text"] {
  font-size: 20px;
  width: 100px;
  background-color: #B0E1ED;
  font-weight: bold;
  border: 0;
}


#player1Score, #player2Score {
  color: black;
  align-self: flex-end;
  justify-content: space-around;
  padding-left: 40px;
}

#player1Side, #player2Side {
  color: black;
  font-size: 80px;
  font-weight: bold;
  align-self: flex-end;
  margin-top: auto;
}

#player1Side {
  align-self: flex-end;
  margin-right: 5px;
}

#player2Side {
  align-self: flex-start;
  margin-left: 5px;
}

p {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  font-size: 21px;
}
br {
   line-height: 3em;
}
  
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

button {
   border-top: 1px solid #96d1f8;
   background: #cc782f;
   background: -webkit-gradient(linear, left top, left bottom, from(#31698f), to(#cc782f));
   background: -webkit-linear-gradient(top, #31698f, #cc782f);
   background: -moz-linear-gradient(top, #31698f, #cc782f);
   background: -ms-linear-gradient(top, #31698f, #cc782f);
   background: -o-linear-gradient(top, #31698f, #cc782f);
   padding: 14.5px 29px;
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active {
   border-top-color: #1480c9;
   background: #1480c9;
   }
#welcome {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: white;
}

#menu-bar {
padding-right: 90%;

}

a:visited {
    color: white;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* About Page CSS */

#about {
    float: left
}

.bio {
  height: 200px;
  min-h/eight: 50%;
  width: 400px;
  min-w/idth: 50%;
  padding: 5px;
  background-color: #B0E1ED;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin: 10px 50px 10px 50px;
  display: flex;
  opacity:0.5;
}

.bio p {
  font-size: 20px;
  color: white;
}

.bio:hover
{
  box-shadow: inset 0 0 0 5px #53a7ea;
  opacity:1;
}

.bio, #about h1, #about h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: #F0684D;
}

#people {
  display: inline-flex;
  margin: 10px;
  flex-shrink: 2;
}

#about img {
     width: 150px;
     max-width: 150px;
     min-width: 150px;
     height: 175px;
     max-height: 175px;
     min-height: 175px;
     margin: 10px;
   }

   img:hover
   {
     box-shadow: inset 0 0 0 5px #53a7ea;
   }

#homebody {
  background-color: black;
}
