body {
  display: flex;
  flex-direction: column;
  background-color: #11262E;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}


#navMenu {
  display: none;
  position: fixed;
}




.flex-container {
  display: flex;
  align-items: center;
  height: 326px;
  max-width: 978px;
  width: 90%;
  background-color: #F16949;
  align-items: center;
  justify-content: center;
}

.flex-box {
  max-width: 316px;
  width: 32.5%;
  height: 316px;
  margin: 5px;
  background-color: #B0E1ED;
  /*border-radius: 10px;*/
}

.player-container {
  display: flex;
  align-items: center;
  height: 326px;
  max-width: 978px;
  width: 90%;
  /*background-color: #F16949;*/
  align-items: center;
  justify-content: center;
}

#player1Box {
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  flex-direction: column;
  height: 160px;
  /*max-width: 316px;*/
  min-width: 200px;
  background-color: #B0E1ED;
  margin-right: 10%;
}

#player2Box {
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  flex-direction: column;
  height: 160px;
  min-height: 120px;
  /*max-width: 316px;*/
  min-width: 200px;
  background-color: #B0E1ED;
  margin-left: 10%;
}

#player2Box, #player1Box {
  align-self: flex-start;
  margin-top: 5%;
}

#player1Name, #player2Name {
  color: black;
  font-size: 35px;
  align-self: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

#player1Score, #player2Score {
  color: black;
  align-self: flex-end;
  padding-left: 75px;
}

#player1Side, #player2Side {
  color: black;
  font-size: 80px;
  font-weight: bold;
  align-self: flex-end;
  margin-top: auto;
}

#player1Side {
  align-self: flex-end;
  margin-right: 5px;
}

#player2Side {
  align-self: flex-start;
  margin-left: 5px;
}

h3 {
  display: flex;
  align-self: flex-start;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
